<footer>
	<ul class="footerlinks">
		<li><a href="#">My Account</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Help</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Privacy</a></li>
	</ul>
</footer>	
