<footer>
	<nav>
		<div class="navb">
			<ul>
				<li><p><a href="#">My Account</a></p></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Privacy</a></li>
			</ul>

		</div>
	</nav>

</footer>	
