	<div class="container">


		<div class="chooseset">
			<h2 class="choose_your_feed">Start Collecting</h2>
			<div class="mystream" "my_description">My Feed</div>
			<div class="mystream" "my_description">#Hashtags</div>
			<div class="mystream" "my_description">@Users</div>
			
		</div>


		<div class="twitterfeed">
			<h2 class="tweets">3 new tweets</h2> 
				<blockquote class="twitter-tweet"><p><img src="<%= @this_tweet.profile_image_url%>"alt="tweetpic"><%= @this_tweet.text%></p>&mdash; <%= @this_tweet.screen_name%>  data-datetime=<%= @this_tweet.tweeted_at.to_s %> ></a></blockquote>
		
			
			
			<blockquote class="twitter-tweet"><p><img src="https://twimg0-a.akamaihd.net/profile_images/2663348193/d56f10649a5d54b42c9d0f9d81d63e23_normal.png" alt="tweetpic">Alinea New Years Eve and January tickets now on sale. <a href="https://www.alinearestaurant.com/user/login">alinearestaurant.com/user/login</a> <a href="https://twimg0-a.akamaihd.net/profile_images/2663348193/d56f10649a5d54b42c9d0f9d81d63e23_normal.png" data-datetime="2011-11-07T20:21:07+00:00">November 7, 2011</a></blockquote>

			<blockquote class="twitter-tweet"><p><img src="https://twimg0-a.akamaihd.net/profile_images/2284174872/7df3h38zabcvjylnyfe3_normal.png" alt="tweetpic">Search API will now always return "real" Twitter user IDs. The with_twitter_user_id parameter is no longer necessary. An era has ended. ^TS</p>&mdash; Twitter API (@twitterapi) <a href="https://twimg0-a.akamaihd.net/profile_images/2663348193/d56f10649a5d54b42c9d0f9d81d63e23_normal.png" data-datetime="2011-11-07T20:21:07+00:00">November 7, 2011</a></blockquote>
		</div>

		<!-- start dashboard here -->
		<div class="dashboard">
			<div class="dbd recording">Recording
				<ul>
					<li class="recording type">My Stream</li>
					<li class="recording date">Tues Nov 6</li>
					<li class="recording name">Election</li>
					<li class="recording duration">12h</li>
				</ul>
<!-- 				<ul>
					<li class="recording type">My Stream</li>
					<li class="recording date">Tues Nov 6</li>
					<li class="recording name">Election</li>
					<li class="recording duration">12h</li>
				</ul> -->
			</div>
			<div class="dbd scheduled">Scheduled
				lkajsd;lfkjas;dklfjs 
				alksdfl;aksjd;lakjsd 
				a;sldkjfl;asdkjf;laskjdf
				las;djkfl;askjdlfjaslj lkajsd;lfkjas;dklfjs 
				alksdfl;aksjd;lakjsd 
				a;sldkjfl;asdkjf;laskjdf
				las;djkfl;askjdlfjasljlkajsd;lfkjas;dklfjs 
				alksdfl;aksjd;lakjsd 
				a;sldkjfl;asdkjf;laskjdf
				las;djkfl;askjdlfjaslj</div>
			<div class="dbd saved">Saved</div>
		</div>
		<!-- end dashboard here -->

		<footer>
			<ul class="footerlist">
				<li class="finallist">MY ACCOUNT</li>
				<li class="finallist">CONTACT</li>
                <li class="finallist">HELP</li>
			</ul>
			
		
		</footer>


	</div>