<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Rehash Login</title>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/rehash-01.css" />
</head>

<body id="login">
  <div id="container">
      <header class="header">
        <div class="logobug" alt="reHash for twitter"></div>
        <div class="select-language">        
          <label for="language" class="language">Language</label>
            <select id="choose" name="Language">
              <option value=”english”>English</option>
              <option value=”dutch”>Dutch</option>
              <option value=”french”>French</option>
              <option value=”german”>German</option>
            </select>
        </div>
      </header>


    <div class="content-wrapper">

<!-- Logo and Tag Start -->
      <div class="banner">
        <img class="rehashlogo" src="assets/img-rehash-logo.png">
          <p class="rehash-tag">Tweets when you want.</p>
      </div>
<!-- Logo and Tag End   -->

<!-- Login Form Start -->
      <div class="loginall">
        
        <%= link_to image_tag("/assets/sign-in-with-twitter-gray.png"), "/auth/twitter"%>

        
        <div class="newtweeter">
          <a href="https://twitter.com/signup#" target="_blank" title="twitter_signup" class="twitter_signup"><!-- <p> -->New to Twittter? <b>Sign up</b>  for a Twitter account.<!-- </p> --></a>
        </div>
      </div>

<!-- Login Form End -->


    </div>
  </div>
</body>
</html>