<!DOCTYPE html>
<html>
<head>
  <title>Rehash</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<meta charset="utf-8" />
	<title>ReHash</title>

	<link rel="stylesheet" href="rehash.css" media="all"/>

</head>
<header class="rehash_header">
	<h1>ReHash</h1>
</header>
<body>

<%= yield %>

</body>
</html>
